.feedback {
    .button__case {
        max-height: none;
        min-width: fit-content;
        display: grid;
        grid-template-columns: 140px 270px;
        grid-template-rows: 54px 10px 54px 10px 54px;
        grid-template-areas:    "label_1        input_1"
                                ".              .      "
                                "label_2        select"
                                ".              .      "
                                "label_3        input_2";

        @media only screen and (max-width: 540px) {
            display: flex;
            flex-direction: column;
            width: 250px;
        }  
        input{
            width: 100%;
            height: 54px;
        }
        .label_1 {
            grid-area: label_1;
            padding: 15px 0px 10px 0px;
        }
        .input_1 {
            grid-area: input_1;
        }
        .label_2 {
            grid-area: label_2;
            padding: 5px 0px 0px 0px;
        }
        .select {
            grid-area: select;
        }
        .label_3 {
            grid-area: label_3;
            padding: 15px 0px 10px 0px;
        }
        .input_2 {
            grid-area: input_2;
        }
    }
    .btn{
        position: absolute;
        top: calc(100% - 110px);
        @media only screen and (max-width: 540px) {
            position: relative;
        } 
    }
}


